.container {
  width: 100%;
  min-width: 1024px;
  max-width: 1280px;
}
.header {
  min-width: 1024px;
}

/*
Вопрос:
Я сделал как рекомендовано в задании, и так работает.
Но я не очень понимаю, зачем нужно было указывать min-width
для header. Если убрать стиль для .header, страничка
будет работать точно так же  */
